.hero {
    background-image: linear-gradient(to bottom, palette(blueLight), palette(blueMedium));
    // height: 100vh;
    // max-height: 700px;
    position: relative;

    &__content {
		// left: 0;
		line-height: 1.7;
		padding: 15% 20px;
		// position: absolute;
        position: relative;
		text-align: center;
		// top: 50%;
		// transform: translateY(-50%);
		// width: 100%;
		z-index: 10;
	}

    &__content,
    &__button {
        color: white;
        font: {
            family: 'Roboto', sans-serif;
            size: 14px;
            weight: 300;
        }
    }

	&__title {
		font: {
			size: 40px;
			weight: 100;
		}
		margin: 15px 0;
	}

	&__introduction {
		margin: 30px auto;
		max-width: 600px;
	}

	&__button {
		background: transparent;
		border: 0;
        cursor: pointer;
        display: inline-block;
        margin: 15px;
		padding: 6px 16px;
		transition: opacity 0.25s ease-out;

		&:hover {
			opacity: 0.5;
		}

		&--cta {
			border: 2px solid white;
			border-radius: 5px;
            text-decoration: none;
		}

		&--video {
			$ball: 34px;
            outline: 0;
			padding-right: 10px + $ball;
			position: relative;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			&:before {
				border: 2px solid white;
				border-radius: 50%;
				height: $ball;
				right: 0;
				width: $ball;
			}

			&:after {
				$triangle: 7px;
				border: {
					top: $triangle solid transparent;
					bottom: $triangle solid transparent;
					left: ($triangle * 1.5) solid white;
				}
				height: 0;
				right: ($ball / 2) - 6px;
				width: 0;
			}
		}
	}
}
