.hero {
    background: skyblue;
    height: 500px;
    position: relative;

    &__graph {
        // height: auto;
        left: 0;
        position: absolute;
        // width: 100%;
        top: 0;

        path {
            stroke-width: 0.5;
            stroke: palette(blueDark);
            stroke-linecap: round;
            fill: rgba(palette(blueDark), 0.1);
        }
    }

    circle {
        position: relative;

        &:after {
            bottom: 100%;
            content: '123';
            display: block;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }
}
